# Tornadoes [1950-2022]

Source: https://www.kaggle.com/datasets/sujaykapadnis/tornados

### Questions:
1. **Tornado severity**
- Has the length of paths changed? (look at both the average, and median)
- Has the severity (on F/EF scale) changed?

2. **Tornado freqency**
- Has tornado frequency increased over time?
- Has the freqency of more severe tornados increased over time?

3. **Tornado zone** (Optional)
- Has "tornado alley" increased/decreased in size over time? (look at "states effected")
- And/or has this area moved?

### Data Acquisition:  
Here are the first few rows of the file, `Tornadoes.csv`.

In [1]:
import pandas as pd

tornadoes = pd.read_csv('tornados.csv', index_col=None)
tornadoes.head()

,om,yr,mo,dy,date,time,tz,datetime_utc,st,stf,...,elon,len,wid,ns,sn,f1,f2,f3,f4,fc
0,192,1950,10,1,1950-10-01,21:00:00,America/Chicago,1950-10-02T03:00:00Z,OK,40,...,-102.3,15.8,10,1,1,25,0,0,0,False
1,193,1950,10,9,1950-10-09,02:15:00,America/Chicago,1950-10-09T08:15:00Z,NC,37,...,0.0,2.0,880,1,1,47,0,0,0,False
2,195,1950,11,20,1950-11-20,02:20:00,America/Chicago,1950-11-20T08:20:00Z,KY,21,...,0.0,0.1,10,1,1,177,0,0,0,False
3,196,1950,11,20,1950-11-20,04:00:00,America/Chicago,1950-11-20T10:00:00Z,KY,21,...,0.0,0.1,10,1,1,209,0,0,0,False
4,197,1950,11,20,1950-11-20,07:30:00,America/Chicago,1950-11-20T13:30:00Z,MS,28,...,0.0,2.0,37,1,1,101,0,0,0,False

In [2]:
tornadoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68693 entries, 0 to 68692
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   om            68693 non-null  int64
 1   yr            68693 non-null  int64
 2   mo            68693 non-null  int64
 3   dy            68693 non-null  int64
 4   date          68693 non-null  object
 5   time          68693 non-null  object
 6   tz            68693 non-null  object
 7   datetime_utc  68693 non-null  object
 8   st            68693 non-null  object
 9   stf           68693 non-null  int64
 10  mag           67937 non-null  float64
 11  inj           68693 non-null  int64
 12  fat           68693 non-null  int64
 13  loss          41523 non-null  float64
 14  slat          68693 non-null  float64
 15  slon          68693 non-null  float64
 16  elat          68693 non-null  float64
 17  elon          68693 non-null  float64
 18  len           68693 non-null  float64
 19  wid           68693 non-null  int64
 20  ns            68693 non-null  int64
 21  sn            68693 non-null  int64
 22  f1            68693 non-null  int64
 23  f2            68693 non-null  int64
 24  f3            68693 non-null  int64
 25  f4            68693 non-null  int64
 26  fc            68693 non-null  bool
dtypes: bool(1), float64(7), int64(14), object(5)
memory usage: 13.7+ MB

In [3]:
tornadoes.head()

,om,yr,mo,dy,date,time,tz,datetime_utc,st,stf,...,elon,len,wid,ns,sn,f1,f2,f3,f4,fc
0,192,1950,10,1,1950-10-01,21:00:00,America/Chicago,1950-10-02T03:00:00Z,OK,40,...,-102.3,15.8,10,1,1,25,0,0,0,False
1,193,1950,10,9,1950-10-09,02:15:00,America/Chicago,1950-10-09T08:15:00Z,NC,37,...,0.0,2.0,880,1,1,47,0,0,0,False
2,195,1950,11,20,1950-11-20,02:20:00,America/Chicago,1950-11-20T08:20:00Z,KY,21,...,0.0,0.1,10,1,1,177,0,0,0,False
3,196,1950,11,20,1950-11-20,04:00:00,America/Chicago,1950-11-20T10:00:00Z,KY,21,...,0.0,0.1,10,1,1,209,0,0,0,False
4,197,1950,11,20,1950-11-20,07:30:00,America/Chicago,1950-11-20T13:30:00Z,MS,28,...,0.0,2.0,37,1,1,101,0,0,0,False

Here's a brief overview of the columns:  

- `om`: Integer - Tornado number. Effectively an ID for this tornado in this year.
- `yr`: Integer - Year, 1950-2022.
- `mo`: Integer - Month, 1-12.
- `dy`: Integer - Day of the month, 1-31.
- `date`: Date - Date.
- `time`: Time - Time.
- `tz`: Character - Canonical tz database timezone.
- `datetime_utc`: Datetime - Date and time normalized to UTC.
- `st`: Character - Two-letter postal abbreviation for the state (DC = Washington, DC; PR = Puerto Rico; VI = Virgin Islands).
- `stf`: Integer - State FIPS (Federal Information Processing Standards) number.
- `mag`: Integer - Magnitude on the F scale (EF beginning in 2007). Some of these values are estimated (see fc).
- `inj`: Integer - Number of injuries. When summing for state totals, use sn == 1 (see below).
- `fat`: Integer - Number of fatalities. When summing for state totals, use sn == 1 (see below).
- `loss`: Double - Estimated property loss information in dollars. Prior to 1996, values were grouped into ranges. The reported number for such years is the maximum of its range.
- `slat`: Double - Starting latitude in decimal degrees.
- `slon`: Double - Starting longitude in decimal degrees.
- `elat`: Double - Ending latitude in decimal degrees.
- `elon`: Double - Ending longitude in decimal degrees.
- `len`: Double - Length in miles.
- `wid`: Double - Width in yards.
- `ns`: Integer - Number of states affected by this tornado. 1, 2, or 3.
- `sn`: Integer - State number for this row. 1 means the row contains the entire track information for this state, 0 means there is at least one more entry for this state for this tornado (om + yr).
- `f1`: Integer - FIPS code for the 1st county.
- `f2`: Integer - FIPS code for the 2nd county.
- `f3`: Integer - FIPS code for the 3rd county.
- `f4`: Integer - FIPS code for the 4th county.
- `fc`: Logical - Was the mag column estimated?

### Initial Data Exploration

Let's begin by:
1. Checking the shape (number of rows and columns) of the dataset. 
2. Identifying the data type for each variable.  
3. Obtaining basic statistics for quantitative/numeric columns.

In [4]:
# Get the size of the dataset
print("There are " + str(tornadoes.shape[1]) + " columns and " + str(tornadoes.shape[0]) + " rows. ")

# Get data types for each column
print("\nThese are the data types:\n", tornadoes.dtypes)

# Get basic statistics for numeric columns
print("\nThese are the basic statistics for the numeric columns:\n", tornadoes.describe())

There are 27 columns and 68693 rows.

These are the data types:
 om                int64
yr                int64
mo                int64
dy                int64
date             object
time             object
tz               object
datetime_utc     object
st               object
stf               int64
mag             float64
inj               int64
fat               int64
loss            float64
slat            float64
slon            float64
elat            float64
elon            float64
len             float64
wid               int64
ns                int64
sn                int64
f1                int64
f2                int64
f3                int64
f4                int64
fc                 bool
dtype: object

These are the basic statistics for the numeric columns:
                   om            yr            mo            dy           stf  \
count   68693.000000  68693.000000  68693.000000  68693.000000  68693.000000
mean   113201.815542   1991.854061      5.968541     15.930881     29.220255
std    226621.993899     19.565158      2.444656      8.750070     15.013273
min         1.000000   1950.000000      1.000000      1.000000      1.000000
25%       285.000000   1976.000000      4.000000      8.000000     18.000000
50%       588.000000   1995.000000      6.000000     16.000000     28.000000
75%      1118.000000   2008.000000      7.000000     24.000000     42.000000
max    622080.000000   2022.000000     12.000000     31.000000     78.000000

                mag           inj          fat          loss          slat  \
count  67937.000000  68693.000000  68693.00000  4.152300e+04  68693.000000
mean       0.778721      1.418689      0.08931  2.020898e+06     37.129386
std        0.895790     18.114752      1.47212  3.039588e+07      5.099005
min        0.000000      0.000000      0.00000  5.000000e+01     17.721200
25%        0.000000      0.000000      0.00000  1.000000e+04     33.180000
50%        1.000000      0.000000      0.00000  5.000000e+04     37.000000
75%        1.000000      0.000000      0.00000  5.000000e+05     40.920000
max        5.000000   1740.000000    158.00000  2.800100e+09     61.020000

       ...          elat          elon           len           wid  \
count  ...  68693.000000  68693.000000  68693.000000  68693.000000
mean   ...     22.960651    -56.836090      3.489270    107.767633
std    ...     18.528144     45.340732      8.247115    206.851267
min    ...      0.000000   -163.530000      0.000000      0.000000
25%    ...      0.000000    -94.780000      0.120000     20.000000
50%    ...     32.550000    -84.720000      0.800000     50.000000
75%    ...     38.650000      0.000000      3.210000    100.000000
max    ...     61.020000      0.000000    234.700000   4576.000000

                 ns            sn            f1            f2            f3  \
count  68693.000000  68693.000000  68693.000000  68693.000000  68693.000000
mean       1.008764      0.991411    104.643952      8.605142      1.687202
std        0.095060      0.092278     96.750296     38.106019     16.681665
min        1.000000      0.000000      0.000000      0.000000      0.000000
25%        1.000000      1.000000     37.000000      0.000000      0.000000
50%        1.000000      1.000000     85.000000      0.000000      0.000000
75%        1.000000      1.000000    137.000000      0.000000      0.000000
max        3.000000      1.000000    810.000000    820.000000    710.000000

                 f4
count  68693.000000
mean       0.506791
std        9.163194
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max      507.000000

[8 rows x 21 columns]

Here's a summary of our exploration:

### Dataset Size: 
- Number of rows (tornadoes): 
- Number of columns (variables): 

### Data Types:

- **Numerical Data (int64 or float64)**: `om`, `yr`, `mo`, `dy`, `stf`, `mag`, `inj`, `fat`, `loss`, `slat`, `slon`, `elat`, `elon`, `len`, `wid`, `ns`, `sn`, `f1`, `f2`, `f3`, `f4`
- **Categorical Data (object)**: `date`, `time`, `tz`, `datetime_utc`, `st`
- **Boolean Data (bool)**: `fc`

### Basic Statistics:
For the numerical columns:
- `om`: Ranges from 1 to 622,080.
- `yr`: Ranges from 1950 to 2022.
- `mo`: Ranges from 1 to 12.
- `dy`: Ranges from 1 to 31.
- `stf`: Ranges from 1 to 78.
- `mag`: Ranges from 0 to 5.
- `inj`: Ranges from 0 to 1,740.
- `fat`: Ranges from 0 to 158.
- `loss`: Ranges from $50 to $2,800,100,000.
- `slat`: Ranges from 17.7212 to 61.02.
- `slon`: No specific range provided.
- `elat`: Has a minimum value of 0.
- `elon`: No specific range provided.
- `len`: Ranges from 0 to 234.7 miles.
- `wid`: Ranges from 0 to 4,576 yards.
- `ns`: Ranges from 1 to 3.
- `sn`: Ranges from 0 to 1.
- `f1`: Has a maximum value of 810.
- `f2`: Has a maximum value of 820.
- `f3`: Has a maximum value of 710.
- `f4`: Has a maximum value of 507.



Next, we'll proceed with the Data Cleansing phase.

### Data Cleansing: 
1. **Handle missing values**: 
- We'll first identify columns with missing values.  
- Then we'll decide whether the impute, fill, or drop these missing values based on the nature and significance of each column.  

2. **Remove duplicates**:
- We'll check for duplicate rows and remove them if any.  

3. **Data type conversion**:
- Ensure that each column is of the correct data type.  

4. **Outlier detection**:
- We'll briefly look for potential outliers using statistical methods or visualization.  

5. **Standardization**:
- If necessary, we'll standardize values. This step might be more relevant during modeling, especially if we use algorithms sensitive to feature scales. 

Let's start by checking for missing values.

In [ ]:
# Check for missing values
missing_values = tornadoes.isnull().sum()

# Calculate missing value counts
missing_values = pd.DataFrame(missing_values[missing_values > 0])

# Calculate missing percent of values for each column
missing_pct = ((missing_values/tornadoes.shape[0]*100).round(3))

# Add missing count and percent to table
missing_values["% Missing"] = missing_pct
missing_values.rename(columns={0: 'Count Missing'}, inplace=True)
missing_values

Here are the columns with missing values:

- **mag**: 756 missing values, or 1.101%
- **loss**: 27170 missing values, or 38.553%

Let's strategize how to handle these:
- **mag**: 
- **loss**:

Now that missing values have been handled, we'll:
2. **Remove Duplicates**
3. **Convert Datatypes**
4. **Detect Outliers**

Let's start by checkinf for duplicate rows.

In [ ]:
# Check for duplicate rows
duplicate_rows = tornadoes.duplicated().sum()
print("There are " + str(duplicate_rows) + " duplicate row(s).\n")


# Get a boolean series indicating which rows are duplicates (including the original rows)
duplicate_mask_all = tornadoes.duplicated(keep=False)

# Use this mask to filter and display both the original and duplicate rows
duplicate_rows_all_df = tornadoes[duplicate_mask_all]
duplicate_rows_all_df

In [ ]:
# Remove duplicate rows, if any
if duplicate_rows > 0: 
    tornadoes.drop_duplicates(inplace=True)

# Verify that the removal worked
duplicate_rows = tornadoes.duplicated().sum()
print("There are " + str(duplicate_rows) + " duplicate row(s).\n")

Next, let's check the data types in each column, and convert if necessary.

In [ ]:
# Display data types for each column
current_data_types = tornadoes.dtypes
current_data_types

These data types seem app
**Numerical Data Types**:
- Continuous variables (floats): 
- Discrete variables (ints): `yr`, 
- Date/time variables (DateTime): `date`, `time`

**Categorical Data Types**:
- Dummy/indicator/coded variables (ints): `om`, `mo`, `dy`, 
- Strings/text information:

The current data types for each column are as follows:

### Numerical Data Types
**Continuous variables (floats)**: 
- `loss`: Estimated property loss in dollars.
- `slat`: Starting latitude in decimal degrees.
- `slon`: Starting longitude in decimal degrees.
- `elat`: Ending latitude in decimal degrees.
- `elon`: Ending longitude in decimal degrees.
- `len`: Length in miles.
- `wid`: Width in yards.

**Discrete variables (ints)**: 
- `yr`: Year, 1950-2022.
- `stf`: State FIPS number.
- `mag`: Magnitude on the F scale.
- `inj`: Number of injuries.
- `fat`: Number of fatalities.
- `ns`: Number of states affected by this tornado.
- `sn`: State number for this row.
- `f1`: FIPS code for the 1st county.
- `f2`: FIPS code for the 2nd county.
- `f3`: FIPS code for the 3rd county.
- `f4`: FIPS code for the 4th county.

**Date/time variables (DateTime)**: 
- `date`: Date.
- `time`: Time.
- `datetime_utc`: Date and time normalized to UTC.


### Categorical Data Types
**Dummy/indicator/coded variables (ints)**: 
- `om`: Tornado number (ID).
- `mo`: Month, 1-12.
- `dy`: Day of the month, 1-31.
- `stf`: State FIPS number.
- `mag`: Magnitude on the F scale.
- `ns`: Number of states affected by this tornado.
- `sn`: State number for this row.
- `f1`: FIPS code for the 1st county.
- `f2`: FIPS code for the 2nd county.
- `f3`: FIPS code for the 3rd county.
- `f4`: FIPS code for the 4th county.

**Strings/textual information**: 
- `tz`: Canonical tz database timezone.
- `st`: Two-letter postal abbreviation for the state.

**Logical/Binary (usually int or bool)**: 
- `fc`: Was the `mag` column estimated?